h1 {
    color:purple
}

img {
    width: 400px;
}
#thirdDiv {
    height: 1000px;
    width: 500px;
    background-color: plum;
    padding: 50px;
    border: 5px dotted red;
}
#spanId {
    font-size: 18px;
    margin: 50px;
}
